body {
  overflow: hidden;
  color: #444;
  margin: 0;
  background-color: #000;
  font-family: Lato;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}
menu {
  margin: 0;
}

a {
  text-decoration: none;
  color: #5c77ff;
}

a:hover {
  text-decoration: underline;
}

canvas {
  display: block;
}

#canvas {
  position: relative;
  z-index: 1;
}

#info {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

a,
button,
input,
select {
  pointer-events: auto;
}
